.title-content{
    text-align: left;
}


.title-content h1{
    font-family: var(--font-secondary);
    font-weight: 400;

}

.select-content-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.content-box{
    cursor: pointer;
    margin-top: 2rem;
    padding: 2rem;
    width: 48%;
    height: 200px;
    border: 2px solid var(--main-color-1);
    border-bottom: 10px solid var(--main-color-1);
    border-radius: 0.5rem;
    background-color: var(--white-color);
}