

* {
box-sizing: 0;
padding: 0;
margin: 0;
}

html {
font-size: 62.5%;
}

body {
font-size: 1.6rem;
font-family: var(--font-headings);
background-color: var(--color-gray-0);
}

a {
text-decoration: none;
color: var(--color-white);
}

h1 {
font-size: 4rem;
}

.header-content {
  background-color: var(--main-color-1);
  max-height: 150px;
  }
  
.menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo1{
  font-family: 'Jomhuria', serif;
  font-size: 9.2rem;
  margin-bottom: -6rem;
  margin-top: -4rem;
  text-align: center;
}

.logo2{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 4.5rem;
  margin-bottom: -2rem;
}

.menu-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.menu-item a{
  font-size: 3rem;
  font-family: var(--font-headings);
  padding: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}


.menu-item a::after{
content: '';
position: absolute;
bottom: 1rem;
left: 50%;
width: 0;
height: 0.2rem;
background: var(--main-color-2);
transition: all 300ms ease-in-out;
}


.menu-item a:hover::after{
width: 50%;
left: 25%;
}


.container {
margin: 0 auto;
padding: var(--spacing-gutter-medium);
max-width: 144rem;
box-sizing: border-box;

}

.section {
min-height: fit-content;
}

.main-content {
  padding-left: 6rem;
  padding-right: 6rem;
}

.blue-bg{
background-color: var(--main-color-4);
}

.blue-bg2{
background-color: var(--main-color-4);

}


.dark-blue-bg{
background-color: var(--main-color-1);

}


.grid-1 {
display: grid;
grid-template-columns: 1.5fr 1fr;
gap: 1rem;
}

.gap {
padding: 4rem;

}

.title1 h1{
color: var(--main-color-1);
font-size: 5rem;
}


.text1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: var(--spacing-gutter-medium);
}

.text1 h1{
  font-size: 5.6rem;
  color: var(--main-color-1);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text1 h2{
  font-size: 3rem;
  color: var(--color-dark-text);
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.text1 h3{
font-size: 2rem;
color: var(--color-dark-text);
}

.button{
  background-color: var(--main-color-3);
  border-radius: 9.3rem;
  max-width: fit-content;
  padding: var(--spacing-gutter-short);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, .2);

}

.button h2{
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-white);
  margin-left: var(--spacing-gutter-short);
  margin-right: var(--spacing-gutter-short);
}


.square-computer-boy{
  border: .4rem solid var(--main-color-1);
  border-radius: 12rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  box-shadow: -8px 6px 20px 2px rgba(0, 0, 0, 0.25);
  min-width: 40rem;
  min-height: 100%;
}

.square-computer-boy img{
  max-width: 100%;
  height: auto;
}

.grid-2 {
display: grid;
grid-template-columns: 1fr 1.5fr;
gap: 3rem;
}

.sally-box{
border: .4rem solid var(--main-color-1);
border-radius: 12rem;
background-color: var(--color-white);
display: flex;
flex-flow: column nowrap;
align-items: top;
box-shadow: -5px 5px 15px rgba(0, 0, 0, .2);
}

.sally-box img{
max-width: 100%;
height: auto;
}

.sally{
scale: 1.15;
position: relative;
bottom: 10rem;
}

.shapes{
position: relative;
bottom: 30rem;
}


.text2{
display: flex;
flex-direction: column;
justify-content: top;
gap: 4rem;
padding: var(--spacing-gutter-medium);
}

.text2 h1{
font-size: 5rem;
color: var(--color-dark-text);
}

.text2 h2{
  font-size: 3rem;
  color: var(--color-white);
}

.text2 h3{
  font-size: 2rem;
  color: var(--color-dark-text);
}



.main-title{
display: flex;
justify-content: center;
color: var(--color-primary-dark);
}

.main-title h1{
font-size: 5rem;
}

.pizza-area{
display: grid;
grid-template-columns: 1fr 0.5fr 1fr;

}

.pizza img{
scale: .8;

}

.t2 h2 {
color: var(--main-color-2);
}

.t3 h2 {
color: var(--main-color-3);
}

.left-pizza{
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-start;
}

.left-pizza h2{
color: var(--main-color-1);

}



.right-pizza{
display: flex;
flex-direction: column;
justify-content: space-around;
}



.boxes-1{
display: flex;
justify-content: center;
padding-top: 10rem;
gap: 4rem;
}

.boxes-2{
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-left: 32rem;
  gap: 4rem;
  margin-bottom: -100px;
  z-index: 1;
}

.button-2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: .2rem solid var(--main-color-1) ;
background-color: var(--color-white);
padding-top: 2rem;
padding-bottom: 2rem;
padding-left: 4rem;
padding-right: 4rem;
border-radius: 6rem;
transition: 300ms all ease-in-out;
box-shadow: -5px 5px 15px rgba(0, 0, 0, .2);
z-index: 1;

}

.button-2:hover{
scale: 1.1;
}

.button-2 h3 {
font-size: 2.5rem;
color: var(--main-color-1);
text-align: center;
}

.button-3{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-left: 2rem;
padding-right: 2rem;
border: .2rem solid var(--main-color-3) ;
background-color: var(--color-white);
border-radius: 6rem;
min-width: 20rem;
transition: 300ms all ease-in-out;
box-shadow: -5px 5px 15px rgba(0, 0, 0, .2);

}

.button-3:hover{
scale: 1.1;
}

.button-3 h3 {
  font-size: 2.5rem;
  color: var(--main-color-3);
  text-align: center;
}

.gap2{
padding: 12rem;
}

.hands {
  margin-bottom: -250px;
  z-index: 0;

}

.hands img {
  height: auto;
  width: 84rem;
  z-index: 0;
}


.terms{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 4rem;
}

.terms h4 {
  color: var(--color-white); 
}

.text3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: var(--spacing-gutter-medium);
  }
  
.text3 h1{
  font-size: 5rem;
  color: var(--main-color-1);
}

.text3 h2{
  font-size: 4rem;
  color: var(--color-dark-text);
}


