
<DOCTYPE html>
    <html lang="pt-br">
    
    {% include "../partials/head.html" %}
    
    <body>
        <div class="container-login">
            <header><div class="Logo-Projeto"><h1>Acesse a plataforma</h1></div> </header>
            <div class="Login">
                <h2>Cadastro</h2>
                <div class="E-mail">
                    <input type="E-mail" name="" id:"e-mail-box" class="input" autocomplete="off"/>
                    <label for="e-mail-box">Nome</label>
                </div>
                <div class="E-mail">
                    <input type="E-mail" name="" id:"e-mail-box" class="input" autocomplete="off"/>
                    <label for="e-mail-box">Sobrenome</label>
                </div>
                <div class="E-mail">
                    <input type="E-mail" name="" id:"e-mail-box" class="input" autocomplete="off"/>
                    <label for="e-mail-box">E-mail</label>
                </div>
                <div class="Senha">
                    <input type="Senha" name="" id:"senha-box" class="input" autocomplete="off" />
                    <label for="senha-box">Senha</label>
                    </div>
                </div>
                <button class="botao-login">Cadastrar</button>
            </div>
                
    </body>
    
    </html>
    