<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>

    {% include "../partials/header.html" %}

    <div class="content_road-container">
        <div class="grid-3">
            <aside class="flex-column content-left">
                <div class="profile">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="road">
                    <i class="fa-solid fa-road"></i>
                </div>
                <div class="ranking">
                    <i class="fa-solid fa-ranking-star"></i>
                </div>
                <div class="gear">
                    <i class="fa-solid fa-gear"></i>
                </div>
            </aside>
            <div class="section-road">
                <div class="flex-column center_a ">
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                </div>
            </div>
            <div class="flex-column center_a content-side">
                <div class="content-side-inner">
                    <div class="side-boxes-content-road">
                        <h3>Acesse Nossas Mídias Sociais</h3>
                        <div class="midia-box">
                            <img class="midia-logo" src="../../../static/data_academy/imgs/insta-logo.png" alt="">
                            <img class="midia-logo" src="../../../static/data_academy/imgs/x-logo.png" alt="">
                            <img class="midia-logo" src="../../../static/data_academy/imgs/youtube-logo.png" alt="">
                        </div>

                    </div>
                    <div class="side-boxes-content-road">
                        <h3>Ranking</h3>
                        <h4>1 - Sofia Oliveira</h4>
                        <h4>2 - Lucas Santos</h4>
                        <h4>3 - Isabella Silva</h4>
                        <h4>4 - Guilherme Costa</h4>
                        <h4>5 - Mateus Pereira</h4>
                        <h4>6 - Valentina Souza</h4>
                        <h4>7 - Isabella Lima</h4>
                        <h4>8 - Eduardo Silva</h4>
                        <h4>9 - Ana Souza</h4>
                        <h4>10 - Lucas Pereira</h4>
                    </div>
                    <div class="side-boxes-content-road">
                        <h3>Acesse Nossas Mídias Sociais</h3>
                        <div class="midia-box">
                            <img class="midia-logo" src="../../../static/data_academy/imgs/insta-logo.png" alt="">
                            <img class="midia-logo" src="../../../static/data_academy/imgs/x-logo.png" alt="">
                            <img class="midia-logo" src="../../../static/data_academy/imgs/youtube-logo.png" alt="">
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Adicione este script no final do corpo do seu HTML -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sectionRoad = document.querySelector('.section-road');
            const contentSideInners = document.querySelectorAll('.content-side-inner');
            let isScrolling = false;
            let canScrollSectionRoad = false;

            window.addEventListener('scroll', function () {
                // Verifica se a página foi rolada até o final
                const isAtBottom = window.innerHeight + window.scrollY >= document.documentElement.scrollHeight;
                const isAtTop = window.scrollY === 0;

                if (isAtBottom || isAtTop) {
                    console.log('Você está no final/topo da página!');
                    canScrollSectionRoad = true;
                    // Faça algo quando estiver no final da página
                }
                else {
                    canScrollSectionRoad = false;

                }
            });

            document.addEventListener('wheel', function (event) {
                // Verifica se o evento ocorreu dentro da .section-road ou em um de seus descendentes
                const isScrollingInSectionRoad = sectionRoad.contains(event.target);

                if (!isScrollingInSectionRoad && canScrollSectionRoad) {
                    //smooth
                    if (!isScrolling) {
                        isScrolling = true;

                        const newScrollTop = sectionRoad.scrollTop + (event.deltaY) * 1.5;

                        sectionRoad.scrollTo({
                            top: newScrollTop,
                            behavior: 'smooth'
                        });

                        setTimeout(function () {
                            isScrolling = false;
                        }, 80)
                    }
                }
            }, { passive: false });

            // Configuração inicial da max-height da section-road com base na altura da maior content-side-inner
            let maxContentSideInnerHeight = 40;
            contentSideInners.forEach(contentSideInner => {
                maxContentSideInnerHeight += Math.max(maxContentSideInnerHeight, contentSideInner.offsetHeight);
            });
            sectionRoad.style.maxHeight = maxContentSideInnerHeight + 'px';

            // Reajusta a max-height da section-road quando a janela é redimensionada
            window.addEventListener('resize', function () {
                maxContentSideInnerHeight = 40;
                contentSideInners.forEach(contentSideInner => {
                    maxContentSideInnerHeight += Math.max(maxContentSideInnerHeight, contentSideInner.offsetHeight);
                });
                sectionRoad.style.maxHeight = maxContentSideInnerHeight + 'px';
            });
        });

    </script>



</body>

</html>