<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>

    {% include "../partials/header.html" %}

    <div class="content_road-container">
        <div class="grid-3">
            <div class="flex-column center_a content_side">
                <div class="side-boxes-content-road"></div>
                <div class="side-boxes-content-road"></div>
            </div>
            <div class="section-road">
                <div class="flex-column center_a ">
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div >
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div >
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div >
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div >
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-01">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div >
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div id="subject-02">
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                    <div>
                        <img src="../../../static/data_academy/imgs/button-deactivate.png" alt="button-deactivate">
                    </div>
                </div>
            </div>
            
            <div class="flex-column center_a content_side">
                <div class="side-boxes-content-road"></div>
                <div class="side-boxes-content-road"></div>
            </div>
        </div>
        
    </div>

<!-- Adicione este script no final do corpo do seu HTML -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sectionRoad = document.querySelector('.section-road');
        let isScrolling = false;
        let canScrollSectionRoad = false;
        window.addEventListener('scroll', function () {
            // Verifica se a página foi rolada até o final
            const isAtBottom = window.innerHeight + window.scrollY >= document.documentElement.scrollHeight;
            const isAtTop = window.scrollY === 0;

            if (isAtBottom || isAtTop) {
                console.log('Você está no final/topo da página!');
                canScrollSectionRoad = true;
                // Faça algo quando estiver no final da página
            }
            else{
                canScrollSectionRoad = false;

                }
        });

        document.addEventListener('wheel', function (event) {
            // Verifica se o evento ocorreu dentro da .section-road ou em um de seus descendentes
            const isScrollingInSectionRoad = sectionRoad.contains(event.target);
            
            if (!isScrollingInSectionRoad && canScrollSectionRoad  )  {
                //smooth
                if (!isScrolling) {
                    isScrolling = true;

                    const newScrollTop = sectionRoad.scrollTop + event.deltaY*1.4 ;
                    
                    sectionRoad.scrollTo({
                        top: newScrollTop,
                        behavior: 'smooth'
                    });

                    setTimeout(function () {
                        isScrolling = false;
                    }, 110)
                }
            }
        }, { passive: false });
    });

</script>

    

</body>

</html>