<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>

  {% include "../partials/header.html" %}

  <section class="section">
    <div  id="title" class="container main-content "> 
      <div class="main-grid">
        <div class="grid-content">
          <div class="unit-content">
            <h2>Unidade 1</h2>
            <div class="unit-box">
              <div>
                <h3>Introdução</h3>
              </div>
              <div class="line"></div>
              <div>
                <h4>1.1 População</h4>
                <h4>1.2 Amostra</h4>
              </div>
              
            </div>
          </div>
  
          <div class="unit-content">
            <h2>Unidade 2</h2>
            <div class="unit-box">
              <div>
                <h3>Amostragem</h3>
              </div>
              <div class="line"></div>
              <div>
                <h4>2.1 Amostragem Probalistica</h4>
                <h4>2.2 Amostragem Não Probalistica</h4>
                <h4>2.3 Composição de Amostragem</h4>
              </div>
            </div>
          </div>
  
          <div class="unit-content">
            <h2>Unidade 3</h2>
            <div class="unit-box">
                <div>
                  <h3>Variaveis</h3>
                </div>
                <div class="line"></div>
                <div>
                  <h4>3.1 Tipos de Variáveis</h4>
                  <h4>3.2 Dados qualitativos por meio de tabelas e gráficos.</h4>
                </div>
            </div>
          </div>
          
  
          <div class="unit-content">
            <h2>Unidade 4</h2>
            <div class="unit-box">
                <div>
                  <h3> Distribuições</h3>
                </div>
                <div class="line"></div>
                <div>
                  <h4>4.1 Dados quantitativos por meio de tabelas e gráficos. </h4>
                  <h4>4.2 Histograma e polígonos de frequência.</h4>
                </div>
            </div>
          </div>
        </div>
  
        <div class="grid-content">
          <div class="unit-content">
            <h2>Unidade 5</h2>
            <div class="unit-box">
              <div>
                <h3>Introdução</h3>
              </div>
              <div class="line"></div>
              <div>
                <h4>1.1 População</h4>
                <h4>1.2 Amostra</h4>
              </div>
              
            </div>
          </div>
  
          <div class="unit-content">
            <h2>Unidade 6</h2>
            <div class="unit-box">
              <div>
                <h3>Amostragem</h3>
              </div>
              <div class="line"></div>
              <div>
                <h4>2.1 Amostragem Probalistica</h4>
                <h4>2.2 Amostragem Não Probalistica</h4>
                <h4>2.3 Composição de Amostragem</h4>
              </div>
            </div>
          </div>
  
          <div class="unit-content">
            <h2>Unidade 7</h2>
            <div class="unit-box">
                <div>
                  <h3>Variaveis</h3>
                </div>
                <div class="line"></div>
                <div>
                  <h4>3.1 Tipos de Variáveis</h4>
                  <h4>3.2 Dados qualitativos por meio de tabelas e gráficos.</h4>
                </div>
            </div>
          </div>
          
  
          <div class="unit-content">
            <h2>Unidade 8</h2>
            <div class="unit-box">
                <div>
                  <h3> Distribuições</h3>
                </div>
                <div class="line"></div>
                <div>
                  <h4>4.1 Dados quantitativos por meio de tabelas e gráficos. </h4>
                  <h4>4.2 Histograma e polígonos de frequência.</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  {% include "../partials/footer.html" %}

</body>

</html>