<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>

  {% include "../partials/header.html" %}

  <section class="section">
    <div  id="title" class="container main-content content">
      
      <div class="flex-row">
        <div class="button-content">
          <a href="{% url "data_academy:descripe_statistic" %}">
            <h2>Estatística Descritiva</h2>
          </a>
        </div>

        <div class="button-content">
          <a href="">
            <h2>Probabilidade</h2>
          </a>
        </div>

        <div class="button-content">
          <a href="">
            <h2>Distribuições de Probabilidade</h2>
          </a>
        </div>
      </div>
  
    </div>
  </section>
  {% include "../partials/footer.html" %}

</body>

</html>