<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>

  {% include "../partials/header.html" %}

  <section class="section-fit">
    <div class="container main-content">
      <div class="grid-1 gap-1">
        <div class="text1">
          <h1>Aprenda <br> Probabilidade e <br>Estatística</h1>
          <h2>Com conteúdo exclusivo criado por <br>professores especializados, vamos <br>juntos nessa jornada</h2>
          <div class="button">
            <h2>Quero Aprender</h2>
          </div>

        </div>
        <div class="square-computer-boy">
          <div>
            <img src="static/data_academy/imgs/3D_MeninoNoComputador.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="pad-4" id="gap_space1"></div>

  <section class="section-fit blue-bg">


    <div class="container main-content">
      <div class="grid-2 gap-4">
        <div class="sally-box">
          <div style="padding: 2rem"></div>
          <img class="sally" src="static/data_academy/imgs/Saly-15.png" alt="">
        </div>

        <div class="text2 ">

            <h1  style="font-weight: bold;">Quem somos</h1>
            <h3>O Data Academy é formado por alunos da área de tecnologia, mais especificamente de engenharia
              xxxx visando levar o conhecimento de estatística e probabilidade de maneira simples para outras
              pessoas a partir da síntese dos conteúdos.</h3>
            <h2>A partir da seleção dos conteúdos acreditamos que pessoas sem uma base sólida de conhecimento em
              ambas áreas (P&E), possam incrementar seus estudos de maneira didática ou acompanhada por um
              professor.</h2>
          
        </div>
      </div>
    </div>
    

  </section>

  <section class="section-fit">
    <div class="container main-content">
        <div class="main-title">
          <h1>Por que estudar na Data Academy? </h1>
        </div>

        <div class="pizza-area">
          <div class="left-pizza">
            <div class="first-pizza">
              <h2>Facil Aprendizagem</h2>
              <h3>Nosso site foi<br> cuidadosamente projetado<br> para proporcionar<br> uma experiência<br> de aprendizado<br> intuitiva e descomplicada.
              </h3>
            </div>

          </div>

          <div class="pizza">
            <img src="static/data_academy/imgs/Group 42.png" alt="">
          </div>

          <div class="right-pizza">
            <div class="t2 second-pizza">
              <h2>Permite integração com a sala de aula</h2>
              <h3>Proporcionamos uma<br> experiência educacional<br> colaborativa entre<br> professor e aluno.
              </h3>
            </div>
            <div class="t3 third-pizza">
              <h2>Conteúdo confiável</h2>
              <h3>Todos assuntos <br> verificados por <br> especialistas nas<br> respectivas áreas.
              </h3>
            </div>
          </div>


        </div>
  </section>

  <section class="section-fit blue-bg2">
    <div class="container main-content">
      <div class="main-title">
        <h1>Quem se beneficia?</h1>
      </div>

      <div class="boxes-1">
        <div class="button-2">
          <h3>Engenharia da <br>Computação</h3>
        </div>
        <div class="button-2">
          <h3>Engenharia de <br>Prudução</h3>
        </div>
        <div class="button-2">
          <h3>Engenharia de <br> Controle e <br> Automação</h3>
        </div>
      </div>
      <div class="boxes-2">
        <div class="button-2">
          <h3>Sistemas da <br>Informação <br></h3>
        </div>
        <div class="button-2">
          <h3>Engenharia <br>Eletrônica</h3>
        </div>
        <div class="button-3">
          <div>
            <h3>E muitos <br>Outros!</h3>
          </div>
        </div>
      </div>

      <div class="hands">
        <img src="static/data_academy/imgs/Saly-31.png" alt="">
      </div>


    </div>

    <div class="hands-base"></div>



  </section>


  {% include "../partials/footer.html" %}

</body>

</html>