<DOCTYPE html>
<html lang="pt-br">

{% include "../partials/head.html" %}

<body>

    {% include "../partials/header.html" %}
    <div class="container">
        <div class="container-login">
            <div class="Logo-Projeto"><h1>Acesse a plataforma</h1></div>
            <div class="Login">
                <h1>Login</h1>
                <div class="E-mail">
                    <h2>E-mail</h2>
                    <input type="E-mail" name="" id:"e-mail-box" class="input" autocomplete="off"/>
                </div>
                <div class="Senha">
                    <h2>Senha</h2>
                    <input type="Senha" name="" id:"senha-box" class="input" autocomplete="off" />
                </div>
            </div>
                <button class="botao-login">Entrar</button>        
        </div>
    </div>
    
            
</body>

</html>
