{% load static %}
<!DOCTYPE html>
<html
  data-bs-theme="light"
  lang="en"
  style="--bs-light: #f5f8fb; --bs-light-rgb: 245, 248, 251"
>

  {% include "../partials/head.html" %}

  <body>
    
    {% include "../partials/header.html" %}


    <section class="d-xl-flex" style="color: #023047; margin-top: 50px">
      <h1 class="d-xl-flex" style="margin-left: 50px; margin-bottom: 30px">
        Conteúdo &gt; Problema (ABP)
      </h1>
    </section>
    <section
      class="d-xl-flex justify-content-center justify-content-xl-center"
      style="margin-bottom: 50px"
    >
      <div class="container" style="width: 90%">
        <div class="row">
          <div class="col" style="background: #023047; padding: 10px">
            <p
              class="fw-semibold text-white"
              style="margin: 0; padding-bottom: 0px; margin-left: 5px"
            >
            Para exemplificar a aprendizagem baseada em problemas, temos o seguinte caso:
            </p>
          </div>
        </div>
        <div
          class="row d-xl-flex flex-column align-items-xl-center"
          style="background: #f5f8fb; padding: 15px"
        >
          <div class="col-md-4 col-xl-12">
            <div class="cell border-box-sizing text_cell rendered">
              <div class="prompt input_prompt"></div>
              <div class="inner_cell">
                <div
                  class="text_cell_render border-box-sizing rendered_html"
                ></div>
              </div>
            </div>
            <div class="cell border-box-sizing text_cell rendered">
              <div class="prompt input_prompt"></div>
              <div class="inner_cell">
                <div class="text_cell_render border-box-sizing rendered_html">
                  <p>
                    Um engenheiro está trabalhando em um projeto de melhoria de qualidade em uma fábrica de peças automotivas. Ele deseja analisar a relação entre a velocidade de produção e o número de defeitos encontrados nas peças fabricadas. Para isso, ele coleta dados durante vários dias e registra a velocidade de produção (em peças por hora) e o número de defeitos encontrados.
                  </p>
            
    </section>
    <section
      class="d-xl-flex justify-content-center justify-content-xl-center"
      style="margin-bottom: 50px"
    >
      <div class="container" style="width: 90%">
        <div class="row">
          <div class="col" style="background: #023047; padding: 10px">
            <p
              class="fw-semibold text-white"
              style="margin: 0; padding-bottom: 0px; margin-left: 5px"
            >
              Dados coletados:
            </p>
          </div>
        </div>
        <div
          class="row d-xl-flex flex-column align-items-xl-center"
          style="background: #f5f8fb; padding: 15px"
        >
          <div class="col-md-4 col-xl-12">
            <p>
                <p>
                Número de defeitos para velocidade de produção de 50 peças/hora:
                </p>
                <p>
                X = {0,0,0,0,0,1,1,1,1,1,1,1,1,1,2,2,2,3,3,4}
                </p>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="d-xl-flex justify-content-center justify-content-xl-center"
      style="margin-bottom: 50px"
    >
      <div class="container" style="width: 90%">
        <div class="row">
          <div class="col" style="background: #023047; padding: 10px">
            <p
              class="fw-semibold text-white"
              style="margin: 0; padding-bottom: 0px; margin-left: 5px"
            >
            Resolução:
            </p>
          </div>
        </div>
        <div
          class="row d-xl-flex flex-column align-items-xl-center"
          style="background: #f5f8fb; padding: 15px"
        >
          <div class="col-md-4 col-xl-12">
            <div>
                <p>
                    Agora, com base nesses dados, vamos explorar os conceitos da estatística aplicada à engenharia. Lance os valores no nosso script e verifique o retorno dos valores.
                </p>
                <p>
                    1. Calcule a média da velocidade de produção e do número de defeitos.
                </p>
                <p>
                    2. Calcule o desvio padrão da velocidade de produção e do número de defeitos.
                </p>
                <p>
                    3. Construa o gráfico de barras e linha para o número de defeitos.
                </p>
                <p>
                    4. Calcule o intervalo de confiança para a média do número de defeitos com 95% de confiança.
                </p>
                <p>
                    A partir dessas análises, o engenheiro poderá ter uma visão mais clara sobre a relação entre a velocidade de produção e o número de defeitos, e poderá tomar decisões informadas para melhorar a qualidade do processo de fabricação.
                </p>
                <a href="https://colab.research.google.com/drive/1Kc4NgOyaNmIspJaXuBCRCZ5HIzBiEWID?usp=sharing">Link para o Google Colaboratory</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </body>
</html>
