{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>
    {% include "../partials/header.html" %}

    <section class="section">
        <div  id="title" class="container main-content content">
            <h1>Estatística Descritiva</h1>

            <div class="slider">

                <div class="slide" id="slide8">
                    <h2 style="margin:0 auto; font-weight: bold; margin-bottom:2rem;">Compilador</h2>
                    
                    <div class="box-style">
                        <h2>Nesta parte você pode fazer os calculos que precisar utilizando python.</h2>
                        <h2>Esse compilador já está integrado com a base de dados. Pode acessá-la usado "df" </h2>
                    </div>

                    <div class="compiler">

                        <form method="post" class="input-container">
                            {% csrf_token %}

                            <button style="margin:0 auto;" type="submit">Executar</button>

                            <div id="editora" class="editora">import statistics as st

# Dados fictícios para pH, teor de CO2 e volume de refrigerante em cada garrafa para três linhas de produção
ph = [3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2]
co2 = [1.2, 1.5, 1.6, 1.8, 1.8, 2.1, 2.3, 2.3]
volume = [250, 260, 270, 280, 290, 300, 310, 320]

# Tamanho da amostra do volume de refrigerante):
print("n =", len(volume))

# Medidas de posição para volume de refrigerante
print("Média de Volume =", st.mean(volume))
print("Mediana de Volume =", st.median(volume))
print("Moda do Volume =", st.mode(volume))
                                </div>

                        </form>

                        <div class="output-container">
                            <pre id="output">
                                
                            </pre>
                        </div>

                    </div>
                </div>

            </div>

            <div class="flex-row">
                <button class="next_previous_button"  id="BackMenuButtonl">
                    <a href="{% url "data_academy:content_road" %}"><h2>Voltar ao Menu</h2></a>
                </button>
                <button class="next_previous_button" id="previousSlideButton">
                    <a><h2>Anterior</h2></a>
                </button>
                <button class="next_previous_button"  id="nextSlideButton">
                    <a><h2>Próximo</h2></a>
                </button>
                <button class="next_previous_button"  id="BackMenuButtonr">
                    <a href="{% url "data_academy:content_road" %}"><h2>Voltar ao Menu</h2></a>
                </button>
            </div>


        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
    <script src="{% static "data_academy/js/main.js" %}"></script>

</body>

<script src="{% static "data_academy/js/script.js" %}"></script>


</html>