{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>
    {% include "../partials/header.html" %}

    <section class="section">
        <div  id="title" class="container main-content content">
            <h1>Estatística Descritiva</h1>

            <div class="slider">

                <div class="slide" id="slide8">
                    <h2 style="margin:0 auto; font-weight: bold; margin-bottom:2rem;">Compilador</h2>
                    
                    <div class="box-style">
                        <h2>Nesta parte você pode fazer os calculos que precisar utilizando python.</h2>
                        <h2>Esse compilador já está integrado com a base de dados. Pode acessá-la usado "df" </h2>
                    </div>

                    <div class="compiler">

                        <form method="post" class="input-container">
                            {% csrf_token %}

                            <button style="margin:0 auto;" type="submit">Executar</button>

                            <div id="editora" class="editora">desc_stats = df[['pH', 'Volume (ml)']].describe()
print(desc_stats)</div>

                        </form>

                        <div class="output-container">
                            <pre id="output">
                                
                            </pre>
                        </div>

                    </div>
                </div>

            </div>

            <div class="flex-row">
                <button class="next_previous_button" id="previousSlideButton">
                    <a><h2>Anterior</h2></a>
                </button>
                <button class="next_previous_button"  id="nextSlideButton">
                    <a><h2>Próximo</h2></a>
                </button>
            </div>


        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
    <script src="{% static "data_academy/js/main.js" %}"></script>

</body>

<script src="{% static "data_academy/js/script.js" %}"></script>


</html>