{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "../partials/head.html" %}

<body>
    {% include "../partials/header.html" %}

    <section class="section">
        <div  id="title" class="container main-content content">
            <h1>Estatística Descritiva</h1>

            <div class="slider">
                <div class="slide" id="slide5">

                    <h2 style="margin:0 auto; font-weight: bold; margin-bottom:2rem;">Análise</h2>

                    <div class="box-style">
                        <h2>Depois de realizada uma amostragem sistemática de três garrafas de uma em uma hora, totalizando ao final de um dia 72 unidades, você conseguiu juntar os seguintes dados.
                        </h2>
                    </div>

                    <div style="width:100%; box-sizing: border-box;">
                        {{table|safe}}
                    </div>

                   

                </div>

                <div class="slide" id="slide6">
                    <h2 style="margin:0 auto; font-weight: bold; margin-bottom:2rem;">Análise</h2>

                    <div class="box-style">
                        <h2>Com base nos dados adquiridos, você pode realizar várias análises estatísticas para garantir que o volume de líquido e o pH estejam dentro dos padrões estabelecidos. </h2>
                    </div>

                    <div class=" box-style engineer2" >
                        <img src="{% static "data_academy/imgs/production-engineer-3-short.png" %}" alt="production-engineer-3-short">
                    </div>

                </div>
            </div>

            <div class="flex-row">
                <button class="next_previous_button" id="previousSlideButton">
                    <a><h2>Anterior</h2></a>
                </button>
                <button class="next_previous_button"  id="nextSlideButton">
                    <a><h2>Próximo</h2></a>
                </button>
            </div>


        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
    <script src="{% static "data_academy/js/main.js" %}"></script>

</body>

<script src="{% static "data_academy/js/script.js" %}"></script>


</html>