
{% load static %}

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<title>Data Academy | ABP
</title>
<link rel="stylesheet" href="{% static 'data_academy/css/bootstrap.min.css' %}"/>
<!--<link rel="stylesheet" href="static/data_academy/css/bootstrap.min.css"/>-->

<link rel="stylesheet" href="{% static 'data_academy/css/Lato.css' %}"/>
<!--<link rel="stylesheet" href="static/data_academy/css/Lato.css"/>-->

<link rel="stylesheet" href="{% static 'data_academy/css/Hero-Carousel-images.css' %}"/>
<!--<link rel="stylesheet" href="static/data_academy/css/Hero-Carousel-images.css"/>-->

<link rel="stylesheet" href="{% static 'data_academy/css/Navbar-Right-Links-icons.css' %}"/>
<!--<link rel="stylesheet" href="static/data_academy/css/Navbar-Right-Links-icons.css"/>-->

<link rel="stylesheet" href="{% static 'data_academy/css/styles.css' %}"/>
<!--<link rel="stylesheet" href="static/data_academy/css/styles.css"/>-->

</head>
