<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Academy | Alterar</title>

    <!--css-->
    <link rel="stylesheet" href="../../../static/data_academy/css/styles.css">
    <link rel="stylesheet" href="../../../static/data_academy/css/menu.css">
    <link rel="stylesheet" href="../../../static/data_academy/css/editor.css">

    <link rel="stylesheet" href="../../../../codemirror-5.65.9/lib/codemirror.css">
    <script src="../../../../codemirror-5.65.9/lib/codemirror.js"></script>
    <script src="../../../../codemirror-5.65.9/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="../../../../codemirror-5.65.9/theme/dracula.css">
    <script src="../../../../codemirror-5.65.9/addon/edit/closebrackets.js"></script>
</head>