<header
      class="text-center text-white masthead"
      style="
        background: url('bg-masthead.jpg') no-repeat center center;
        background-size: cover;
        margin-bottom: -311px;
        padding-bottom: 190px;
      "
    >
    <nav
        class="navbar  navbar-expand-md fixed-top  bg-light shadow py-3"
    >
        <div class="container ola">
          <a class="ola navbar-brand d-flex align-items-center" href="{% url "data_academy:home" %}"
            ><span
              style="
                --bs-primary: #023047;
                --bs-primary-rgb: 2, 48, 71;
                color: #023047;
                font-weight: bold;
              "
              >Data Academy</span
            >
          </a>
          
          <div class="collapse navbar-collapse" id="navcol-2">
            <!-- search bar -->
            <input
              class="border rounded-pill flex-grow-1"
              type="text"
              style="
                margin: 0px 222px 0px 20px;
                margin-right: 222px;
                height: 25px;
              "
            />

            <!-- menu -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url "data_academy:home" %}">Início</a>
              </li>
              <li class="nav-item dropdown">
                  <a
                  class="dropdown-toggle nav-link"
                  aria-expanded="false"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  >Conteúdos</a
                  >
                <div class="dropdown-menu" style="border-radius: 0px">
                  <a
                    class="dropdown-item"
                    href="{% url "data_academy:estatistica" %}"
                    style="--bs-body-color: #969696"
                    >Estatística no Python</a
                  ><a class="dropdown-item" href="{% url "data_academy:abp" %}"
                    >Aprendizagem Baseada em Problemas</a
                  ><a class="dropdown-item" href="{% url "data_academy:problema" %}"
                    >Problema (ABP)</a
                  >
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url "data_academy:login" %}">Entrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url "data_academy:login" %}">Cadastrar-se</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</header>