<header>
    <div class="header-content">
        <div class="menu-content">
            <div class="menu-before">
                <div class="menu-lines-box">
                    <label for="toggle" class="menu-lines">&#9776;</label>
                </div>
                <div class="menu-logo-box">
                    <a class="logo" href="">
                        <h2 class="logo1">DATA</h2>
                        <h2 class="logo2">Academy</h2>
                    </a>
                </div>
                
            </div>

            
            <div class="nav">
                <input type="checkbox" id="toggle">
                <ul class="menu">
                    <li><a href="{% url "data_academy:home" %}">
                        Início
                    </a></li>
                    <li><a href="{% url "data_academy:content" %}">
                        Conteúdos
                    </a></li>
                    <li><a href="{% url "data_academy:login" %}">
                        Login
                    </a></li>
                </ul>

            </div>
                
            
        </div>
    </div>
</header>